In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Fri Jun 15 18:19:03 2018

@author: tanishashrotriya
"""

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


background = pd.read_csv("background.csv")
company_names=background.iloc[:,0].values
company_names

array(['20MICRONS', 'AARTIDRUGS', 'ABAN', 'ADVANIHOTR', 'AFTEK',
       'AGRODUTCH', 'ALBK', 'ALLCARGO', 'ALMONDZ', 'ALPINEHOU', 'AMAR',
       'AMBIKCO', 'AMDIND', 'AMRUTANJAN', 'ANKITMETAL', 'ANKURDRUGS',
       'ANTGRAPHIC', 'APLAB', 'ARCHIDPLY', 'ARCOTECH', 'ARSHIYA',
       'ASAHIINDIA', 'ASAL', 'ASHAPURMIN', 'ASHIANA', 'ASIANELEC',
       'ASIANHOTNR', 'ASTRAMICRO', 'AVTNPL', 'BAJAJCORP', 'BAJAJELEC',
       'BAJAJHLDNG', 'BALAMINES', 'BALKRISIND', 'BANARBEADS', 'BAYERCROP',
       'BBL', 'BBTC', 'BHARATRAS', 'BHARTIARTL', 'BHUSANSTL', 'BIL',
       'BLISSGVS', 'BOMDYEING', 'BRITANNIA', 'BSELINFRA', 'CAIRN',
       'CALSOFT', 'CANFINHOME', 'CELEBRITY', 'CESC', 'CHAMBLFERT',
       'CHETTINAD', 'CIPLA', 'CLNINDIA', 'CNOVAPETRO', 'CONSOFINVT',
       'COUNCODOS', 'CTE', 'CUMMINSIND', 'CURATECH', 'DALMIAREF',
       'DCMSHRIRAM', 'DENORA', 'DENSO', 'DHANBANK', 'DHFL', 'DICIND',
       'DISHMAN', 'DLF', 'DLINKINDIA', 'DREDGECORP', 'DYNATECH',
       'EASUNREYRL', 'ECEIND', 'EIHOTEL', 'EIMCOELECO', 'ELECTHERM',
       'ELNET', 'ENIL', 'ENTEGRA', 'ERAINFRA', 'FARMAXIND', 'FCEL',
       'FCSSOFT', 'FDC', 'FEDERALBNK', 'FINCABLES', 'FIRSTLEASE',
       'FIRSTWIN', 'GAEL', 'GALLISPAT', 'GANDHITUBE', 'GARWALLROP',
       'GATI', 'GAYAPROJ', 'GEMINI', 'GESHIP', 'GKWLIMITED', 'GLOBALVECT',
       'GLOBOFFS', 'GLODYNE', 'GLORY', 'GODREJPROP', 'GOLDIAM',
       'GOLDINFRA', 'GREAVESCOT', 'GSS', 'GUFICBIO', 'HBLPOWER',
       'HEIDELBERG', 'HEROMOTOCO', 'HIL', 'HINDNATGLS', 'HINDOILEXP',
       'HINDPETRO', 'HINDSYNTEX', 'HINDUJAFO', 'HOCL', 'HTMEDIA',
       'ICICIBANK', 'IDFC', 'IFBAGRO', 'IIFL', 'INDIACEM', 'INDIANCARD',
       'INDOTECH', 'INDSWFTLAB', 'INFODRIVE', 'INGERRAND', 'IOLN',
       'IPRINGLTD', 'ITDCEM', 'IVRCLAH', 'IVRCLINFRA', 'JAINSTUDIO',
       'JAYSREETEA', 'JCTEL', 'JINDALSTEL', 'JKCEMENT', 'JKTYRE',
       'JUBLINDS', 'JUSTDIAL', 'JYOTISTRUC', 'KAKATCEM', 'KANORICHEM',
       'KEC', 'KECL', 'KERNEX', 'KICL', 'KIL', 'KIRLOSENG', 'KITPLYIND',
       'KNRCON', 'KOLTEPATIL', 'KOPDRUGS', 'KPIT', 'KSK', 'KWALITY',
       'LGBFORGE', 'LOKESHMACH', 'L&TFH', 'MADHUCON', 'MAHLIFE',
       'MANAPPURAM', 'MARALOVER', 'MARICO', 'MAYURUNIQ', 'MCDHOLDING',
       'MCDOWELL-N', 'MEGASOFT', 'METKORE', 'MICROTECH', 'MINDACORP',
       'MMFL', 'MOHITIND', 'MOTILALOFS', 'MRPL', 'MTNL', 'MUKANDENGG',
       'MUTHOOTFIN', 'MYSOREBANK', 'NAHARPOLY', 'NAVINFLUOR', 'NBCC',
       'NDTV', 'NESCO', 'NETWORK18', 'NHPC', 'NIITLTD', 'NIPPOBATRY',
       'NITINSPIN', 'NMDC', 'NOESISIND', 'NUCLEUS', 'OIL', 'ORIENTLTD',
       'PANACEABIO', 'PARABDRUGS', 'PARACABLES', 'PATELENG', 'PBAINFRA',
       'PDUMJEIND', 'PDUMJEPULP', 'PENIND', 'PERSISTENT', 'PETRONENGG',
       'PFC', 'PHOENIXLL', 'PIONEEREMB', 'PIRGLASS', 'PITTILAM',
       'PONDYOXIDE', 'PONNIERODE', 'PRAENG', 'PRAKASH', 'PRITHVI',
       'PUNJLLOYD', 'RAIREKMOH', 'RANASUG', 'RANKLIN', 'RASOYPR',
       'RECLTD', 'RELIGARE', 'RJL', 'RMCL', 'SAGCEM', 'SALONACOT',
       'SATYAMCOMP', 'SBBJ', 'SEINV', 'SELAN', 'SERVALL', 'SFCL',
       'SHASUNPHAR', 'SHILPAMED', 'SHILPI', 'SHREYANIND', 'SHRIRAMEPC',
       'SHYAMTEL', 'SIYSIL', 'SKFINDIA', 'SKUMARSYNF', 'SOTL', 'SPARC',
       'SRF', 'SRTRANSFIN', 'SSWL', 'STERTOOLS', 'STYABS', 'SUJANATWR',
       'SUMMITSEC', 'SUNDARAM', 'SUNDARMFIN', 'SUNDRMFAST', 'SUNILHITEC',
       'SUPER', 'SUPREMEIND', 'SURANAT&P', 'SURYAROSNI', 'SUTLEJTEX',
       'SYNCOM', 'TANFACIND', 'TANTIACONS', 'TATACOFFEE', 'TCI',
       'TCIDEVELOP', 'TECHNO', 'TI', 'TIL', 'TIMBOR', 'TIMETECHNO',
       'TIMKEN', 'TIRUMALCHM', 'TNPETRO', 'TNPL', 'TREEHOUSE', 'TRENT',
       'TRF', 'TRIVENI', 'TULSI', 'TULSYAN', 'TWILITAKA', 'UGARSUGAR',
       'UNIONBANK', 'UNITEDBNK', 'UNITY', 'VHL', 'VIJAYABANK', 'VIJSHAN',
       'VIKASHMET', 'VIMALOIL', 'VIMTALABS', 'VKSPL', 'VMART', 'VSTIND',
       'VTXIND', 'WELCORP', 'WENDT', 'WIPRO', 'WSTCSTPAPR', 'WYETH',
       'ZEEMEDIA', 'ZENITHCOMP', 'ZENITHEXPO', 'ZODJRDMKJ'], dtype=object)

In [ ]:

#declaring global dataframe
train_data=pd.DataFrame()


#removing nans for all symbols present
for sym in company_names :
    print(sym+".NS.csv")
    try:
        train = pd.read_csv(sym+".NS.csv")
        #getting the 8th column and all rows
        train_data=train.iloc[:,[8]].values
    
        print(np.any(np.isnan(train_data)))
        #setting all nas to zero
        np.nan_to_num(train_data,copy=False)
        print(np.any(np.isnan(train_data)))
        
        #saving the new text file or csv
        np.savetxt(sym+".NS.csv", train_data, delimiter=",")
        #not here it is going to overwrite 
    except :
        print("cool")
        
for sym in company_names :
    print(sym)
    try:
        print(np.any(np.isnan(train_data)))
    except :
        print("cool")

In [8]:
#converting index to column and then to date time
#then resampling to new data set
universe = ['AARTIDRUGS', 'ABAN', 'ADVANIHOTR', 'ALBK', 'ALLCARGO', 'AMBIKCO', 'AMDIND', 'ASAHIINDIA', 'ASAL', 'ASHAPURMIN', 'ASIANHOTNR', 'ASTRAMICRO', 'BAJAJELEC', 'BAJAJHLDNG', 'BALAMINES', 'BALKRISIND', 'BBL', 'BBTC', 'BHARATRAS', 'BHARTIARTL', 'BHUSANSTL', 'BIL', 'BOMDYEING', 'BRITANNIA', 'BSELINFRA', 'CALSOFT', 'CANFINHOME', 'CELEBRITY', 'CESC', 'CHAMBLFERT', 'CIPLA', 'CLNINDIA', 'CONSOFINVT', 'COUNCODOS', 'CTE', 'CUMMINSIND', 'DCMSHRIRAM', 'DENORA', 'DHANBANK', 'DHFL', 'DICIND', 'DLF', 'DREDGECORP', 'EASUNREYRL', 'ECEIND', 'EIHOTEL', 'EIMCOELECO', 'ELECTHERM', 'ENIL', 'FDC', 'FEDERALBNK', 'FINCABLES', 'GAEL', 'GANDHITUBE', 'GARWALLROP', 'GATI', 'GEMINI', 'GESHIP', 'GKWLIMITED', 'GLOBALVECT', 'GLOBOFFS', 'GOLDIAM', 'GOLDINFRA', 'GREAVESCOT', 'GSS', 'GUFICBIO', 'HBLPOWER', 'HEIDELBERG', 'HEROMOTOCO', 'HIL', 'HINDOILEXP', 'HINDPETRO', 'HINDSYNTEX', 'HTMEDIA', 'ICICIBANK', 'IDFC', 'IFBAGRO', 'IIFL', 'INDIACEM', 'INDIANCARD', 'INDOTECH', 'INDSWFTLAB', 'INGERRAND', 'ITDCEM', 'IVRCLINFRA', 'JAINSTUDIO', 'JAYSREETEA', 'JINDALSTEL', 'JKCEMENT', 'JKTYRE', 'JYOTISTRUC', 'KAKATCEM', 'KANORICHEM', 'KEC', 'KERNEX', 'KNRCON', 'KOLTEPATIL', 'KPIT', 'LOKESHMACH', 'MADHUCON', 'MARALOVER', 'MARICO', 'MCDHOLDING', 'MEGASOFT', 'MMFL', 'MOTILALOFS', 'MRPL', 'MTNL', 'MUKANDENGG', 'NAHARPOLY', 'NAVINFLUOR', 'NDTV', 'NETWORK18', 'NIITLTD', 'NIPPOBATRY', 'NITINSPIN', 'NMDC', 'NUCLEUS', 'ORIENTLTD', 'PANACEABIO', 'PARACABLES', 'PATELENG', 'PBAINFRA', 'PDUMJEIND', 'PETRONENGG', 'PFC', 'PIONEEREMB', 'PITTILAM', 'PONNIERODE', 'PRAENG', 'PRAKASH', 'PUNJLLOYD', 'RANASUG', 'RECLTD', 'RELIGARE', 'RJL', 'RMCL', 'SAGCEM', 'SELAN', 'SHREYANIND', 'SHRIRAMEPC', 'SIYSIL', 'SKFINDIA', 'SOTL', 'SPARC', 'SRF', 'SRTRANSFIN', 'SSWL', 'STERTOOLS', 'SUNDARMFIN', 'SUNDRMFAST', 'SUNILHITEC', 'SUPREMEIND', 'SURANAT&P', 'SURYAROSNI', 'TANTIACONS', 'TATACOFFEE', 'TCI', 'TECHNO', 'TIL', 'TIMETECHNO', 'TIMKEN', 'TIRUMALCHM', 'TNPETRO', 'TNPL', 'TRENT', 'TRIVENI', 'TULSI', 'UNIONBANK', 'UNITY', 'VHL', 'VIJAYABANK', 'VIMTALABS', 'VSTIND', 'WELCORP', 'WENDT', 'WIPRO', 'WSTCSTPAPR', 'ZEEMEDIA', 'ZENITHEXPO', 'ZODJRDMKJ']

for sym in universe :
    try:
        print(sym)
        train= pd.read_csv(sym+".NS.csv")
        print(train.iloc[:10,[0,6]])
        train.set_index(train.iloc[:,0],inplace=True)
        train.index=pd.to_datetime(train.index)
        print(type(train.index))
        t=train.iloc[:,[6]]
        t=t.resample('W-MON').sum()
        t.iloc[:5,[0]]
        t.to_csv(sym+"pr.NS.csv")
        
    except:
        print("error")

AARTIDRUGS
error
ABAN
error
ADVANIHOTR
error
ALBK
error
ALLCARGO
error
AMBIKCO
error
AMDIND
error
ASAHIINDIA
error
ASAL
error
ASHAPURMIN
error
ASIANHOTNR
error
ASTRAMICRO
error
BAJAJELEC
error
BAJAJHLDNG
error
BALAMINES
error
BALKRISIND
error
BBL
error
BBTC
error
BHARATRAS
error
BHARTIARTL
error
BHUSANSTL
error
BIL
error
BOMDYEING
error
BRITANNIA
error
BSELINFRA
error
CALSOFT
error
CANFINHOME
error
CELEBRITY
error
CESC
error
CHAMBLFERT
error
CIPLA
error
CLNINDIA
error
CONSOFINVT
error
COUNCODOS
error
CTE
error
CUMMINSIND
error
DCMSHRIRAM
error
DENORA
error
DHANBANK
error
DHFL
error
DICIND
error
DLF
error
DREDGECORP
error
EASUNREYRL
error
ECEIND
error
EIHOTEL
error
EIMCOELECO
error
ELECTHERM
error
ENIL
error
FDC
error
FEDERALBNK
error
FINCABLES
error
GAEL
error
GANDHITUBE
error
GARWALLROP
error
GATI
error
GEMINI
error
GESHIP
error
GKWLIMITED
error
GLOBALVECT
error
GLOBOFFS
error
GOLDIAM
error
GOLDINFRA
error
GREAVESCOT
error
GSS
error
GUFICBIO
error
HBLPOWER
error
HEIDELBERG
error
HEROMOTOCO
error
HIL
error
HINDOILEXP
error
HINDPETRO
error
HINDSYNTEX
error
HTMEDIA
error
ICICIBANK
error
IDFC
error
IFBAGRO
error
IIFL
error
INDIACEM
error
INDIANCARD
error
INDOTECH
error
INDSWFTLAB
error
INGERRAND
error
ITDCEM
error
IVRCLINFRA
error
JAINSTUDIO
error
JAYSREETEA
error
JINDALSTEL
error
JKCEMENT
error
JKTYRE
error
JYOTISTRUC
error
KAKATCEM
error
KANORICHEM
error
KEC
error
KERNEX
error
KNRCON
error
KOLTEPATIL
error
KPIT
error
LOKESHMACH
error
MADHUCON
error
MARALOVER
error
MARICO
error
MCDHOLDING
error
MEGASOFT
error
MMFL
error
MOTILALOFS
error
MRPL
error
MTNL
error
MUKANDENGG
error
NAHARPOLY
error
NAVINFLUOR
error
NDTV
error
NETWORK18
error
NIITLTD
error
NIPPOBATRY
error
NITINSPIN
error
NMDC
error
NUCLEUS
error
ORIENTLTD
error
PANACEABIO
error
PARACABLES
error
PATELENG
error
PBAINFRA
error
PDUMJEIND
error
PETRONENGG
error
PFC
error
PIONEEREMB
error
PITTILAM
error
PONNIERODE
error
PRAENG
error
PRAKASH
error
PUNJLLOYD
error
RANASUG
error
RECLTD
error
RELIGARE
error
RJL
error
RMCL
error
SAGCEM
   Unnamed: 0  SAGCEM.NS.Adjusted
0  2007-01-29          140.839218
1  2007-01-31          137.580704
2  2007-02-01          142.015854
3  2007-02-02          143.373566
4  2007-02-05          142.558960
5  2007-02-06          137.761719
6  2007-02-07          144.686035
7  2007-02-08          151.927155
8  2007-02-09          148.693710
9  2007-02-12          141.270416
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SELAN
   Unnamed: 0  SELAN.NS.Adjusted
0  2007-01-02          61.225025
1  2007-01-03          60.746418
2  2007-01-04          65.716599
3  2007-01-05          62.955395
4  2007-01-08          65.164383
5  2007-01-09          62.697662
6  2007-01-10          61.004139
7  2007-01-11          60.967293
8  2007-01-12          60.046944
9  2007-01-15          60.672802
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SHREYANIND
   Unnamed: 0  SHREYANIND.NS.Adjusted
0  2007-01-02               26.452787
1  2007-01-03               26.722254
2  2007-01-04               26.003674
3  2007-01-05               26.946810
4  2007-01-08               27.575571
5  2007-01-09               27.081545
6  2007-01-10               28.294149
7  2007-01-11               28.294149
8  2007-01-12               28.833084
9  2007-01-15               27.889948
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SHRIRAMEPC
   Unnamed: 0  SHRIRAMEPC.NS.Adjusted
0  2008-02-20              274.386871
1  2008-02-21                     NaN
2  2008-02-22                     NaN
3  2008-02-25                     NaN
4  2008-02-26                     NaN
5  2008-02-27                     NaN
6  2008-02-28                     NaN
7  2008-02-29                     NaN
8  2008-03-03                     NaN
9  2008-03-04                     NaN
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SIYSIL
   Unnamed: 0  SIYSIL.NS.Adjusted
0  2007-01-29            9.925874
1  2007-01-31            9.788396
2  2007-02-01            9.740279
3  2007-02-02            9.611968
4  2007-02-05            9.428663
5  2007-02-06            9.405751
6  2007-02-07            9.039145
7  2007-02-08            8.894791
8  2007-02-09            9.096425
9  2007-02-12            8.931454
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SKFINDIA
   Unnamed: 0  SKFINDIA.NS.Adjusted
0  2007-01-02            234.803253
1  2007-01-03            239.084976
2  2007-01-04            235.192459
3  2007-01-05            230.478271
4  2007-01-08            236.533234
5  2007-01-09            233.592224
6  2007-01-10            231.646011
7  2007-01-11            233.635529
8  2007-01-12            234.933014
9  2007-01-15            235.278976
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SOTL
   Unnamed: 0  SOTL.NS.Adjusted
0  2007-01-02        226.659637
1  2007-01-03        225.249191
2  2007-01-04        225.401108
3  2007-01-05        226.811523
4  2007-01-08        227.244766
5  2007-01-09        230.867035
6  2007-01-10        226.681366
7  2007-01-11        228.546692
8  2007-01-12        229.630905
9  2007-01-15        230.867035
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SPARC
   Unnamed: 0  SPARC.NS.Adjusted
0  2007-07-18          85.198997
1  2007-07-19         102.249001
2  2007-07-20         108.453003
3  2007-07-23         106.010002
4  2007-07-24          86.908798
5  2007-07-25          94.774101
6  2007-07-26          99.219704
7  2007-07-27          96.581596
8  2007-07-30          92.820000
9  2007-07-31          91.696404
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SRF
   Unnamed: 0  SRF.NS.Adjusted
0  2007-01-02       114.925491
1  2007-01-03       117.015015
2  2007-01-04       120.238922
3  2007-01-05       119.761337
4  2007-01-08       118.000114
5  2007-01-09       116.447861
6  2007-01-10       112.895638
7  2007-01-11       115.492645
8  2007-01-12       120.925507
9  2007-01-15       118.716560
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SRTRANSFIN
   Unnamed: 0  SRTRANSFIN.NS.Adjusted
0  2007-01-02              114.506508
1  2007-01-03              116.402046
2  2007-01-04              115.325058
3  2007-01-05              120.106941
4  2007-01-08              121.743973
5  2007-01-09              121.097786
6  2007-01-10              117.909859
7  2007-01-11              115.798920
8  2007-01-12              115.842026
9  2007-01-15              119.460716
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SSWL
   Unnamed: 0  SSWL.NS.Adjusted
0  2007-01-02        155.411270
1  2007-01-03        153.461090
2  2007-01-04        154.993347
3  2007-01-05        151.603760
4  2007-01-08        150.442932
5  2007-01-09        154.482590
6  2007-01-10        161.447525
7  2007-01-11        159.450928
8  2007-01-12        165.626526
9  2007-01-15        170.873428
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
STERTOOLS
   Unnamed: 0  STERTOOLS.NS.Adjusted
0  2007-01-02              38.431259
1  2007-01-03              37.979122
2  2007-01-04              37.979122
3  2007-01-05              38.566898
4  2007-01-08              38.973816
5  2007-01-09               7.758592
6  2007-01-10               7.803805
7  2007-01-11              38.883392
8  2007-01-12              39.538982
9  2007-01-15              38.838184
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SUNDARMFIN
   Unnamed: 0  SUNDARMFIN.NS.Adjusted
0  2007-01-02               46.529964
1  2007-01-03               46.985752
2  2007-01-04               47.029686
3  2007-01-05               46.617805
4  2007-01-08               46.469547
5  2007-01-09               47.106533
6  2007-01-10               47.035164
7  2007-01-11               47.419567
8  2007-01-12               47.540417
9  2007-01-15               47.447041
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SUNDRMFAST
   Unnamed: 0  SUNDRMFAST.NS.Adjusted
0  2007-01-02               71.375206
1  2007-01-03               71.534103
2  2007-01-04               70.000610
3  2007-01-05               67.458015
4  2007-01-08               66.425110
5  2007-01-09               64.796249
6  2007-01-10               63.008484
7  2007-01-11               63.405773
8  2007-01-12               63.683868
9  2007-01-15               64.081169
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SUNILHITEC
   Unnamed: 0  SUNILHITEC.NS.Adjusted
0  2007-01-02                0.524695
1  2007-01-03                0.521083
2  2007-01-04                0.527584
3  2007-01-05                0.527825
4  2007-01-08                0.529029
5  2007-01-09                0.538420
6  2007-01-10                0.541791
7  2007-01-11                0.541310
8  2007-01-12                0.531196
9  2007-01-15                0.534327
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SUPREMEIND
   Unnamed: 0  SUPREMEIND.NS.Adjusted
0  2007-01-02               19.342960
1  2007-01-03               19.872675
2  2007-01-04               19.855860
3  2007-01-05               19.843245
4  2007-01-08               19.212633
5  2007-01-09               18.973000
6  2007-01-10               18.943573
7  2007-01-11               18.628269
8  2007-01-12               19.422832
9  2007-01-15               18.708149
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SURANAT&P
   Unnamed: 0  SURANAT&P.NS.Adjusted
0  2007-01-02               9.099179
1  2007-01-03               9.263292
2  2007-01-04               9.500346
3  2007-01-05               9.482110
4  2007-01-08               2.002184
5  2007-01-09               9.792103
6  2007-01-10               9.482110
7  2007-01-11               9.627990
8  2007-01-12               9.500346
9  2007-01-15               1.976655
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
SURYAROSNI
   Unnamed: 0  SURYAROSNI.NS.Adjusted
0  2007-01-02               49.851711
1  2007-01-03               49.772953
2  2007-01-04               48.631001
3  2007-01-05               49.457928
4  2007-01-08               48.552250
5  2007-01-09               48.040356
6  2007-01-10               47.764721
7  2007-01-11               47.528450
8  2007-01-12               47.764721
9  2007-01-15               48.512871
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TANTIACONS
   Unnamed: 0  TANTIACONS.NS.Adjusted
0  2008-02-19              118.709496
1  2008-02-20              113.634232
2  2008-02-21              113.161110
3  2008-02-22              110.322403
4  2008-02-25              109.505196
5  2008-02-26              114.150360
6  2008-02-27              110.709503
7  2008-02-28              115.053581
8  2008-02-29              112.171852
9  2008-03-03              106.064362
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TATACOFFEE
   Unnamed: 0  TATACOFFEE.NS.Adjusted
0  2007-01-02                5.252696
1  2007-01-03                5.240643
2  2007-01-04                5.245809
3  2007-01-05                5.306076
4  2007-01-08                5.267333
5  2007-01-09                5.158852
6  2007-01-10                5.110639
7  2007-01-11                5.077922
8  2007-01-12                5.154547
9  2007-01-15                5.165739
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TCI
   Unnamed: 0  TCI.NS.Adjusted
0  2007-01-02        80.064461
1  2007-01-03        76.952126
2  2007-01-04        76.049980
3  2007-01-05        75.463570
4  2007-01-08        74.606544
5  2007-01-09        73.433800
6  2007-01-10        71.855026
7  2007-01-11        72.261002
8  2007-01-12        74.696762
9  2007-01-15        72.982704
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TECHNO
   Unnamed: 0  TECHNO.NS.Adjusted
0  2007-04-02           79.499130
1  2007-04-03           81.957878
2  2007-04-04           81.097313
3  2007-04-05           81.138298
4  2007-04-09           83.597046
5  2007-04-10           81.957878
6  2007-04-11           85.973824
7  2007-04-12           83.638008
8  2007-04-13           82.777466
9  2007-04-16           82.777466
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TIL
   Unnamed: 0  TIL.NS.Adjusted
0  2007-01-02       191.469498
1  2007-01-03       187.615921
2  2007-01-04       183.314224
3  2007-01-05       190.976593
4  2007-01-08       189.632355
5  2007-01-09       186.764542
6  2007-01-10       183.762329
7  2007-01-11       196.264069
8  2007-01-12       193.933990
9  2007-01-15       198.997406
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TIMETECHNO
   Unnamed: 0  TIMETECHNO.NS.Adjusted
0  2007-06-13               37.299843
1  2007-06-14               43.192322
2  2007-06-15               42.042252
3  2007-06-18                     NaN
4  2007-06-19               48.094593
5  2007-06-20                     NaN
6  2007-06-21               54.453331
7  2007-06-22               52.774834
8  2007-06-25                     NaN
9  2007-06-26                     NaN
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TIMKEN
   Unnamed: 0  TIMKEN.NS.Adjusted
0  2007-02-06          143.757782
1  2007-02-07          136.177979
2  2007-02-08          131.914352
3  2007-02-09          126.918564
4  2007-02-12          123.300919
5  2007-02-13          121.879707
6  2007-02-14          117.702202
7  2007-02-15          119.597176
8  2007-02-19          114.558319
9  2007-02-20          113.696976
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TIRUMALCHM
   Unnamed: 0  TIRUMALCHM.NS.Adjusted
0  2007-01-02              129.824112
1  2007-01-03              129.278290
2  2007-01-04              129.205536
3  2007-01-05              130.551819
4  2007-01-08              129.205536
5  2007-01-09              134.517838
6  2007-01-10              131.170364
7  2007-01-11              132.771301
8  2007-01-12              134.263138
9  2007-01-15              133.062439
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TNPETRO
   Unnamed: 0  TNPETRO.NS.Adjusted
0  2007-01-02            15.531995
1  2007-01-03            15.753250
2  2007-01-04            16.107258
3  2007-01-05            16.549763
4  2007-01-08            16.815268
5  2007-01-09            16.461262
6  2007-01-10            16.505512
7  2007-01-11            16.771019
8  2007-01-12            16.726767
9  2007-01-15            16.992270
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TNPL
   Unnamed: 0  TNPL.NS.Adjusted
0  2007-01-02         62.042118
1  2007-01-03         63.159988
2  2007-01-04         62.929840
3  2007-01-05         62.403774
4  2007-01-08         61.943470
5  2007-01-09         60.989979
6  2007-01-10         60.726971
7  2007-01-11         61.318775
8  2007-01-12         60.694092
9  2007-01-15         61.976357
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TRENT
   Unnamed: 0  TRENT.NS.Adjusted
0  2007-01-02          27.312435
1  2007-01-03          27.157095
2  2007-01-04          27.675892
3  2007-01-05          27.312435
4  2007-01-08          27.602201
5  2007-01-09          27.223139
6  2007-01-10          26.763773
7  2007-01-11          26.666828
8  2007-01-12          27.356255
9  2007-01-15          27.133842
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TRIVENI
   Unnamed: 0  TRIVENI.NS.Adjusted
0  2007-01-02            28.226048
1  2007-01-03            28.860121
2  2007-01-04            28.606510
3  2007-01-05            28.251417
4  2007-01-08            27.744198
5  2007-01-09            27.465307
6  2007-01-10            27.034107
7  2007-01-11            27.490587
8  2007-01-12            27.592068
9  2007-01-15            26.577631
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
TULSI
   Unnamed: 0  TULSI.NS.Adjusted
0  2008-02-25         122.258362
1  2008-02-26         120.392380
2  2008-02-27         100.999565
3  2008-02-28          97.702835
4  2008-02-29          94.231743
5  2008-03-03          90.674164
6  2008-03-04          89.806450
7  2008-03-05          82.778160
8  2008-03-07          68.634712
9  2008-03-10          62.951344
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
UNIONBANK
   Unnamed: 0  UNIONBANK.NS.Adjusted
0  2007-01-02              91.927711
1  2007-01-03              91.478729
2  2007-01-04              92.039940
3  2007-01-05              92.002533
4  2007-01-08              92.414093
5  2007-01-09              90.580795
6  2007-01-10              90.842682
7  2007-01-11              88.948547
8  2007-01-12              92.888359
9  2007-01-15              92.168564
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
UNITY
   Unnamed: 0  UNITY.NS.Adjusted
0  2007-01-02          90.941704
1  2007-01-03          91.574509
2  2007-01-04          93.949532
3  2007-01-05         101.132164
4  2007-01-08          97.236778
5  2007-01-09          98.247620
6  2007-01-10          96.636856
7  2007-01-11          97.721649
8  2007-01-12          98.568130
9  2007-01-15          97.302536
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
VHL
   Unnamed: 0  VHL.NS.Adjusted
0  2007-01-02       334.658844
1  2007-01-03       335.413483
2  2007-01-04       339.139862
3  2007-01-05       339.894470
4  2007-01-08       341.828400
5  2007-01-09       335.602234
6  2007-01-10       336.309692
7  2007-01-11       333.762634
8  2007-01-12       331.168365
9  2007-01-15       339.186981
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
VIJAYABANK
   Unnamed: 0  VIJAYABANK.NS.Adjusted
0  2007-01-02               32.946869
1  2007-01-03               33.470947
2  2007-01-04               34.239594
3  2007-01-05               33.750450
4  2007-01-08               33.680580
5  2007-01-09               33.855274
6  2007-01-10               33.051689
7  2007-01-11               33.436008
8  2007-01-12               34.309467
9  2007-01-15               34.309467
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
VIMTALABS
   Unnamed: 0  VIMTALABS.NS.Adjusted
0  2007-01-02             153.939651
1  2007-01-03             155.135941
2  2007-01-04             150.991577
3  2007-01-05             152.102463
4  2007-01-08             151.675186
5  2007-01-09             152.657867
6  2007-01-10             146.975388
7  2007-01-11             143.087372
8  2007-01-12             143.514648
9  2007-01-15             141.549271
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
VSTIND
   Unnamed: 0  VSTIND.NS.Adjusted
0  2007-01-02          243.859711
1  2007-01-03          239.953857
2  2007-01-04          240.408020
3  2007-01-05          236.169052
4  2007-01-08          239.045502
5  2007-01-09          239.802444
6  2007-01-10          239.196884
7  2007-01-11          236.169052
8  2007-01-12          239.196884
9  2007-01-15          236.774658
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
WELCORP
   Unnamed: 0  WELCORP.NS.Adjusted
0  2007-01-02            87.401352
1  2007-01-03            93.013435
2  2007-01-04            92.001427
3  2007-01-05            97.981506
4  2007-01-08            98.211510
5  2007-01-09            93.703453
6  2007-01-10            94.945473
7  2007-01-11            96.923500
8  2007-01-12            96.969505
9  2007-01-15            96.417480
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
WENDT
   Unnamed: 0  WENDT.NS.Adjusted
0  2007-01-02         553.988281
1  2007-01-03         546.074158
2  2007-01-04         553.988281
3  2007-01-05         568.233704
4  2007-01-08         561.902405
5  2007-01-09         565.186768
6  2007-01-10         565.186768
7  2007-01-11         554.819214
8  2007-01-12         561.902405
9  2007-01-15         573.377869
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
WIPRO
   Unnamed: 0  WIPRO.NS.Adjusted
0  2007-01-02         125.196762
1  2007-01-03         126.967598
2  2007-01-04         124.162933
3  2007-01-05         122.433037
4  2007-01-08         118.430779
5  2007-01-09         118.717354
6  2007-01-10         120.795265
7  2007-01-11         126.834541
8  2007-01-12         128.247086
9  2007-01-15         128.349472
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
WSTCSTPAPR
   Unnamed: 0  WSTCSTPAPR.NS.Adjusted

In [9]:
#create a file to note down the predictions 
pred=pd.read_csv("WIPROpr.NS.csv")
pred=pd.DataFrame(pred.iloc[len(pred)-90:,[0]].values,columns=["dates"])
print(pred)
pred.to_csv("pred.csv")

         dates
0   2016-10-03
1   2016-10-10
2   2016-10-17
3   2016-10-24
4   2016-10-31
5   2016-11-07
6   2016-11-14
7   2016-11-21
8   2016-11-28
9   2016-12-05
10  2016-12-12
11  2016-12-19
12  2016-12-26
13  2017-01-02
14  2017-01-09
15  2017-01-16
16  2017-01-23
17  2017-01-30
18  2017-02-06
19  2017-02-13
20  2017-02-20
21  2017-02-27
22  2017-03-06
23  2017-03-13
24  2017-03-20
25  2017-03-27
26  2017-04-03
27  2017-04-10
28  2017-04-17
29  2017-04-24
..         ...
60  2017-11-27
61  2017-12-04
62  2017-12-11
63  2017-12-18
64  2017-12-25
65  2018-01-01
66  2018-01-08
67  2018-01-15
68  2018-01-22
69  2018-01-29
70  2018-02-05
71  2018-02-12
72  2018-02-19
73  2018-02-26
74  2018-03-05
75  2018-03-12
76  2018-03-19
77  2018-03-26
78  2018-04-02
79  2018-04-09
80  2018-04-16
81  2018-04-23
82  2018-04-30
83  2018-05-07
84  2018-05-14
85  2018-05-21
86  2018-05-28
87  2018-06-04
88  2018-06-11
89  2018-06-18

[90 rows x 1 columns]

In [10]:
for sym in universe :
    try:
        print(sym)
        train= pd.read_csv(sym+"pr.NS.csv")
        train=train.iloc[:,[1]]
        t=train.values
        #train.to_csv(sym+"pr.NS.csv")
        np.savetxt(sym+"pr.NS.csv", train, delimiter=",")
        
        
    except:
        print("error")

AARTIDRUGS
error
ABAN
error
ADVANIHOTR
error
ALBK
error
ALLCARGO
error
AMBIKCO
error
AMDIND
error
ASAHIINDIA
error
ASAL
error
ASHAPURMIN
error
ASIANHOTNR
error
ASTRAMICRO
error
BAJAJELEC
error
BAJAJHLDNG
error
BALAMINES
error
BALKRISIND
error
BBL
error
BBTC
error
BHARATRAS
error
BHARTIARTL
error
BHUSANSTL
error
BIL
error
BOMDYEING
error
BRITANNIA
error
BSELINFRA
error
CALSOFT
error
CANFINHOME
error
CELEBRITY
error
CESC
error
CHAMBLFERT
error
CIPLA
error
CLNINDIA
error
CONSOFINVT
error
COUNCODOS
error
CTE
error
CUMMINSIND
error
DCMSHRIRAM
error
DENORA
error
DHANBANK
error
DHFL
error
DICIND
error
DLF
error
DREDGECORP
error
EASUNREYRL
error
ECEIND
error
EIHOTEL
error
EIMCOELECO
error
ELECTHERM
error
ENIL
error
FDC
error
FEDERALBNK
error
FINCABLES
error
GAEL
error
GANDHITUBE
error
GARWALLROP
error
GATI
error
GEMINI
error
GESHIP
error
GKWLIMITED
error
GLOBALVECT
error
GLOBOFFS
error
GOLDIAM
error
GOLDINFRA
error
GREAVESCOT
error
GSS
error
GUFICBIO
error
HBLPOWER
error
HEIDELBERG
error
HEROMOTOCO
error
HIL
error
HINDOILEXP
error
HINDPETRO
error
HINDSYNTEX
error
HTMEDIA
error
ICICIBANK
error
IDFC
error
IFBAGRO
error
IIFL
error
INDIACEM
error
INDIANCARD
error
INDOTECH
error
INDSWFTLAB
error
INGERRAND
error
ITDCEM
error
IVRCLINFRA
error
JAINSTUDIO
error
JAYSREETEA
error
JINDALSTEL
error
JKCEMENT
error
JKTYRE
error
JYOTISTRUC
error
KAKATCEM
error
KANORICHEM
error
KEC
error
KERNEX
error
KNRCON
error
KOLTEPATIL
error
KPIT
error
LOKESHMACH
error
MADHUCON
error
MARALOVER
error
MARICO
error
MCDHOLDING
error
MEGASOFT
error
MMFL
error
MOTILALOFS
error
MRPL
error
MTNL
error
MUKANDENGG
error
NAHARPOLY
error
NAVINFLUOR
error
NDTV
error
NETWORK18
error
NIITLTD
error
NIPPOBATRY
error
NITINSPIN
error
NMDC
error
NUCLEUS
error
ORIENTLTD
error
PANACEABIO
error
PARACABLES
error
PATELENG
error
PBAINFRA
error
PDUMJEIND
error
PETRONENGG
error
PFC
error
PIONEEREMB
error
PITTILAM
error
PONNIERODE
error
PRAENG
error
PRAKASH
error
PUNJLLOYD
error
RANASUG
error
RECLTD
error
RELIGARE
error
RJL
error
RMCL
error
SAGCEM
SELAN
SHREYANIND
SHRIRAMEPC
SIYSIL
SKFINDIA
SOTL
SPARC
SRF
SRTRANSFIN
SSWL
STERTOOLS
SUNDARMFIN
SUNDRMFAST
SUNILHITEC
SUPREMEIND
SURANAT&P
SURYAROSNI
TANTIACONS
TATACOFFEE
TCI
TECHNO
TIL
TIMETECHNO
TIMKEN
TIRUMALCHM
TNPETRO
TNPL
TRENT
TRIVENI
TULSI
UNIONBANK
UNITY
VHL
VIJAYABANK
VIMTALABS
VSTIND
WELCORP
WENDT
WIPRO
WSTCSTPAPR
ZEEMEDIA
ZENITHEXPO
ZODJRDMKJ

In [12]:

train= pd.read_csv("SURANAT&P.NS.csv")
print(train.iloc[:10,[0,6]])
train.set_index(train.iloc[:,0],inplace=True)
train.index=pd.to_datetime(train.index)
#print(type(train.index))
t=train.iloc[:,[6]]
t=t.resample('W-MON').sum()
t.iloc[:5,[0]]
t.to_csv(sym+"pr.NS.csv")
t

   Unnamed: 0  SURANAT&P.NS.Adjusted
0  2007-01-02               9.099179
1  2007-01-03               9.263292
2  2007-01-04               9.500346
3  2007-01-05               9.482110
4  2007-01-08               2.002184
5  2007-01-09               9.792103
6  2007-01-10               9.482110
7  2007-01-11               9.627990
8  2007-01-12               9.500346
9  2007-01-15               1.976655

            SURANAT&P.NS.Adjusted
Unnamed: 0
2007-01-08              39.347111
2007-01-15              40.379204
2007-01-22              33.657845
2007-01-29              30.112995
2007-02-05              17.414260
2007-02-12              35.528741
2007-02-19              30.590747
2007-02-26              40.550611
2007-03-05              23.654219
2007-03-12              35.386508
2007-03-19              22.651304
2007-03-26              22.567423
2007-04-02               6.859943
2007-04-09              27.505416
2007-04-16              37.242813
2007-04-23              44.875910
2007-04-30              45.076495
2007-05-07              27.315774
2007-05-14              37.767977
2007-05-21              37.053171
2007-05-28              43.362419
2007-06-04              36.710358
2007-06-11              43.654182
2007-06-18              35.991903
2007-06-25              42.979488
2007-07-02              29.062670
2007-07-09              28.938671
2007-07-16              42.669500
2007-07-23              37.064114
2007-07-30              29.781121
...                           ...
2017-11-27              30.850000
2017-12-04              30.150000
2017-12-11              30.800000
2017-12-18              30.400000
2017-12-25              24.550000
2018-01-01              30.700000
2018-01-08              31.800000
2018-01-15              32.850000
2018-01-22              30.750000
2018-01-29              24.050000
2018-02-05              28.500000
2018-02-12              27.250000
2018-02-19              21.550000
2018-02-26              26.300000
2018-03-05              21.700000
2018-03-12              25.100000
2018-03-19              25.050000
2018-03-26              23.850000
2018-04-02              13.700000
2018-04-09              24.450000
2018-04-16              24.750000
2018-04-23              25.150000
2018-04-30              24.650000
2018-05-07              19.550000
2018-05-14              22.800000
2018-05-21              21.450000
2018-05-28              21.950000
2018-06-04              22.750000
2018-06-11              22.550000
2018-06-18               4.800000

[598 rows x 1 columns]